<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <!-- th:fragment="navbar" estou dizendo que nesta pagina quero apenas o componente navbar-->
    <footer class=" aw-layout-footer js-content" th:fragment="footer">
        <div class=" container-fluid ">
            <span class=" aw-footer-disclaimer ">&copy; 2021 AlgaWorks. Todos os direitos reservados.</span>
        </div>
    </footer>
</body>