<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> JREBE</h1>

    <form method="POST">
        <span th:text="${mensagem}"></span>
        <br>
        <label>SKU</label>

        <input type="text" name="sku">
        <br>


        <label>Nome</label>
        <span th:text="${mensagem}"></span>
        <br>
        <input type="text" name="nome">
        <br>
        <label>Descricão</label>


        <br>
        <textarea name="descricao"></textarea>
        <span th:text="${mensagem}"></span>
        <br>
            <input type="submit" value="salvar">
    </form>
</body>

</html>