<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Olá</h1>
    <div th:each="erro: ${#fields.detailedErrors('${produto.*}')}">
        <span th:text="${erro.message}"></span>

    </div>
    <form method="POST" th:object="${produto}">

        <span th:text="${#fields.hasAnyErrors()}"></span>



        </span>
        <br>
        <label>SKU</label>

        <input type="text" th:field="*{sku}">
        <br>


        <label>Nome</label>

        <br>
        <input type="text" th:field="*{nome}">
        <br>
        <label>Descricão</label>


        <br>
        <textarea name="descricao" th:field="*{descricao}"></textarea>

        <br>
        <input type="submit" value="salvar">
        <span th:text="${mensagem}"></span>
    </form>
</body>

</html>